@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --dark-color :#222f3e;
    --smokey-white: #f5f5f5 ;
}

body{
    background-color: #f5f5f5;
}

#first_wrapper{
    width: 100%;
    height: 100vh;
}

/* header styles */
#header{
    padding: 0 150px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
#header .dark{
    width: 25px;
    z-index: 1;
    height: 25px;
    border-radius: 50%;
    background-color: var(--dark-color);
}

#header .light{
    left: 18px;
    position: absolute;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    border: 1px solid black;
    background-color:var(--smokey-white);
}

#menu_icon{
    font-size: 22px;
    padding: 8px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid rgb(140, 140, 140);
}
#menu_icon:hover{
    color : rgb(83, 83, 83);
    border: 2px solid rgb(39, 39, 39);
}

#title{
    position: relative;
    display: flex;
    align-items: center; 
}

#third_container{
    display: none;
}


#title p{
    margin-left: 32px;
}

nav{
    margin-right: 32px;
    user-select: none;
    width: 50%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

nav p{
    color: gray;
    font-size: 18px;
    cursor: pointer;
}


nav p:nth-child(1){
    color: black;
}
nav p:nth-child(2){
    display: flex;
    gap: 1px;
    align-items: center;
}

/* first container styles */

#first_container{
    padding: 0 150px;
    width: 100%;
}

#first_container #para{
    font-size: 100px;
    color: rgba(0, 0, 0, 0.861);
    padding: 30px 30px 0 10px;
    line-height: 125px;
    
}


/* button container */

#button_container{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.started-btn{
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    color: white;
    background-color: var(--dark-color);
    width: 190px;
    font-weight: 600;
    height: 70px;
}

.quote-btn{
    cursor: pointer;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    color: var(--dark-color) ;
    background-color: #bdc3c77a;
    border: none;
    width: 190px;
    height: 70px;
}

.para{
    display: flex;
    gap: 25px;
    letter-spacing: 1px;
    color: rgb(114, 114, 114);
    align-items: center;
}


/* second container styles */

#second_container{
    display: flex;
    width: 100%;
    padding: 30px 150px 0 150px;
    background-color: var(--dark-color) ;
    height: 85vh;
}

#avatar_container{
    display: flex;
    flex-direction: column;
    width: 40%;
   
    padding: 20px;
}

#bg_img {
    width: 100%;
}

#bg_img img{
    width: 90%;
    height: 530px;
    margin-bottom: 30px;
}

#avatar_wrapper{
    display: flex;
   /*  align-items:first baseline; */
    width: 100%;
    margin-bottom: 30px;
    gap: 15px;
    align-items: center;
}

#avatar_wrapper p:nth-child(1){
    color: whitesmoke;
    font-weight: 500;
}

#avatar_wrapper p:nth-child(2){
    font-size: 14px;
    color: rgba(245, 245, 245, 0.837);
}

#avatar_img{
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--dark-color);
    height: 50px;
}

#view-btn{
    cursor: pointer;
  /*   margin-left: 20px; */
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 100px;
    color: var(--dark-color) ;
    background-color: white;
    border: none;
    width: 190px;
    height: 70px;
}

#content_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 100px;
    color: whitesmoke;
}
#content_heading{
    font-size: 60px;
    padding-right: 100px;
    line-height: 70px;
}

#content_para{
    font-weight: 300;
    color: rgb(209, 209, 209);
    padding-right: 20px;
}


/* media screen for mobile */



@media screen and (min-width:350px) and (max-width:550px) {
    nav{
        display: none;
    }
    #first_container{
        width: 100%;
    }
    #header{
       padding: 20px;
        width: 100%;
        margin: 0;
        display: flex;
        height: 50px;
        justify-content: space-between;
        align-items: center;
    }
    
#header .dark{
    width: 20px;
    z-index: 1;
    height: 20px;
    border-radius: 50%;
    background-color: var(--dark-color);
}

#header .light{
    left: 15px;
    position: absolute;
    width: 20px;
    border-radius: 50%;
    height: 20px;
    border: 1px solid black;
    background-color:var(--smokey-white);
}

#menu_icon{
    font-size: 18px;
    padding: 6px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid rgb(140, 140, 140);
}
#menu_icon:hover{
    color : rgb(83, 83, 83);
    border: 2px solid rgb(39, 39, 39);
}

#title{
    position: relative;
    display: flex;
    align-items: center; 
}


#title p{
    margin-left: 32px;
}

#first_container{
    padding: 0;
    height: 100vh;
    width: 100%;
}

#first_container #para{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.861);
    padding: 20px ;
    line-height: 70px;
    
}

#buttons{
    margin-top: 50px;
    user-select: none;
}
#button_container{
    margin:0;
    gap: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.started-btn{
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    color: white;
    background-color: var(--dark-color);
    width: 160px;
    font-weight: 600;
    height: 55px;
}

.quote-btn{
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    color: var(--dark-color) ;
    background-color: #bdc3c77a;
    border: none;
    width: 160px;
    height: 55px;
}

.para{
    display: flex;
    gap: 25px;
    letter-spacing: 0px;
    color: rgb(114, 114, 114);
    align-items: center;
}



#second_container{
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    padding: 50px 20px 20px 20px;
    background-color: var(--dark-color) ;
    height:200vh;
}

#avatar_container{
    display: flex;
    flex-direction: column;
    width: 100%;
  
    padding: 0;
}

#bg_img {
    width: 100%;
}

#bg_img img{
    width: 100%;
    
    height: 530px;
    margin:0;
}

#avatar_wrapper{
    display: flex;
   /*  align-items:first baseline; */
    width: 100%;
    margin-bottom:30px;

    gap: 20px;
    align-items: center;
}

#avatar_wrapper p:nth-child(1){
    color: whitesmoke;
    font-weight: 500;
}

#avatar_wrapper p:nth-child(2){
    font-size: 14px;
    color: rgba(245, 245, 245, 0.837);
}

#third_container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 50px;
}
#third_container p:nth-child(1){
    width: 100%;
    color: rgb(109, 109, 109);
    margin-top: 40px;
    letter-spacing: 1px;
    height: 40px;
}

#third_container p:nth-child(2){
    font-size: 40px;
    margin-top: 20px;
}


#avatar_img{
    width: 50px;
    border-radius: 50%;
    border: 1px solid var(--dark-color);
    height: 50px;
}

#view-btn{
    cursor: pointer;
  /*   margin-left: 20px; */
    font-size: 16px;
    margin-bottom:30px;
    font-weight: 600;
    border-radius: 100px;
    color: var(--dark-color) ;
    background-color: white;
    border: none;
    width: 100%;
    height: 60px;
}

#content_container{
    width: 100%;
    gap: 0;
    display: flex;
    flex-direction: column;
    margin:0;
    color: whitesmoke;
}
#content_heading{
    font-size: 50px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    line-height: 65px;
}

#content_para{
    font-weight: 300;
    color: rgb(209, 209, 209);
    padding:0;
    margin-bottom: 40px;
    line-height: 28px;
    font-size: 15px

}





























  

}
